header {
	position: absolute;
	top:35px;
	left:0px;
	right:30px;
}

header a:link, a:visited, a:active {
    color: #2a2a2a;
    font-family: arial, sans-serif;
    font-size:12px;
    text-decoration:none;
	margin-right:5px;
	margin-left:5px;
	position:relative;
	top:-10px;
}

header a:hover {
	text-decoration:underline;
}

.Hgauche {
	position: relative;
	left:18px;
	padding-right:15px;
	padding-left:15px;
}

.Hdroite {
	position: relative;
	top: -17px;
	float:right;
	right:0px;
	padding-right:5px;
	padding-left:5px;
}

#menu {
	margin-right:8px;
	margin-left:8px;
}


#user {
	width: 30px;
	height: :30px;
}

p {
	font: 12px arial, sans-serif;
	text-indent:5px;
}

div {
	display:block;
	margin: auto;
	text-align:center;
	padding-top: 10%;
}

div img {
	width: 270px;
	height: 95px;
	margin:5px;
}

.search {
	width: 570px;
	height: 28px;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	padding-right: 30px;
	font: 16px arial, sans-serif;
	text-indent:5px;
	background-repeat:no-repeat;
	background-position:548px 4px;
	background-size:14px 19px;
	}

.button {
	border: 1px solid #F5F5F5;
	background: #F5F5F5;
	color:#5F6368;
	margin-left:4px;
	margin-right:4px;
	margin-top: 15px;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 15px;
	border-radius:2px;
}

.button:hover {
	color: #2a2a2a;
	border: 1px solid #bdbdbd;
}

.search:hover {
	border:1px solid #aaaaaa;
}

footer {
	position: absolute;
	bottom:0px;
	left:0px;
	right:0px;
	background:#F5F5F5;
	padding-top:22px;
	border-top: 1px solid #e9e9e9;
}

footer a:link {
	color: #5F6368;
	font-family: arial, sans-serif;
	font-size:12px;
	text-decoration:none;
    }
    
footer a:hover {
	text-decoration:underline;
}

.gauche {
	position: relative;
	bottom:12px;
	left:18px;
	padding-right:15px;
	padding-left:15px;
}

.droite {
	position: relative;
	bottom:9px;
	float:right;
	right:18px;
	padding-right:15px;
	padding-left:15px;
}
	
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }